body {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: flex;
    align-items: center;
    margin: 70px 100px;



    position: relative;
    z-index: 1;
}

header img {
    height: 750px;
    display: block;
}

#info {
    padding: 50px;
    max-height: 650px;
    min-width: 450px;
    background-color: white;
}

#info h1 {
    font-size: 4rem;
    font-weight: 400;
}

#info p {
    font-size: 1.8rem;
    color: grey;
}

#icons {
    display: flex;
    justify-content: right;
    gap: 30px;
    font-size: 50px;
}

.box-shadow {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    font-size: 70px;
    text-align: center;
    width: calc(100% - 20px);
}

.background-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0891b2;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 1% 100%, 0% 100%);
}

section {
    margin: 100px;
    
}

.card {
    max-width: 550px;
    height: 600px;
}

.card img {
    width: 30px;
    margin-left: 10px;
}

.screenshot {
    height: 60%;
    padding: 15px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    
}

.name-icon {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.icon i {
    font-size: 30px;
}

.description {
    padding: 0 20px 0 20px;
    color: #4a4545;
}

.name {
    font-size: 1.6rem;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;
}

.work {
    font-size: 4rem;
    margin: 50px 0 5px 0;
}

footer {
    background-color: #0891b2;
    color: white;
    display: flex;
    width: 100%;
    
}

footer p,
footer .phone,
footer .email {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.footer-icons {
    color: black;
    font-size: 50px;
    display: flex;
    gap: 30px;
}

.left {
    padding: 75px 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left h2 {
    font-size: 3rem;
}

.right img {
    width: 80%;
    width: 500px;
    padding: 75px 100px;
}

.left img {
    width: 30px;
    display: block;
}

.phone,
.email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 1250px) {
    
    
    #card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
        align-items: center;
    }

    .card {
        max-width: 550px;
        height: 500px;
    }

    .content {
       
        height: 700px;
        min-width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        overflow: hidden;
    }

    header img {
        height: 500px;
    }
    
    .image-container {
        grid-area: 1 / 1 / 3 / 3;
        z-index: 0;
    }

    .overlay-text {
        top: 60px;
        background-color: rgba(0, 0, 0, 0);
        font-size: 2.8rem;
    }

    #info {
        grid-area: 1 / 2 / 5 / 4;
        z-index: 1;
    }

    #info h1 {
        font-size: 2.7rem;
    }

    #info p {
        font-size: 1.5rem;
    }

    #icons {
        font-size: 1.5rem;
    }

    .right {
        width: 400px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .right img {
        padding: 100px;
    }
}

@media (max-width: 767px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    .overlay-text {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 5px;
        font-size: 70px;
        text-align: center;
        width: calc(100% - 20px);
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 1100px;
        min-width: 200px;
        margin: 0;
    }

    #info {
        
    }

    #card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 50px;
        justify-items: center;
        align-items: center;
    }

    .card {
        max-width: 550px;
        height: 500px;
    }

    .right {
        width: 100%;
        
    }

    .right img {
        width: 100%;
        padding: 0;
    }
  }